NEXT_PUBLIC_AFFILIATE_ADDRESS=0xaa86b91a7c2366dd2a7000c7ebf69223e1fa8f8a
NEXT_PUBLIC_WALLETCONNECT_ID=2f82a1608c73932cfc64ff51aa38a87b # get your own project ID - https://cloud.walletconnect.com/sign-in
NEXT_PUBLIC_BASE_URL=https://azuro-example.org
NEXT_PUBLIC_COMPANY_NAME="Flat.bet"
NEXT_PUBLIC_PRIVY_APP_ID=cm1p6gkel04f362oq6bxn2nal
AZURO_UNSTABLE_DEV_ENABLED=true
NEXT_PUBLIC_DEFAULT_CHAIN_ID=97
NEXT_PUBLIC_BSC_MARKET_MANAGER_API_BASE=https://azuro-bsc-market-manager.dappweb.workers.dev/api/v1/public
NEXT_PUBLIC_BSC_TESTNET_FACTORY_ADDRESS=0x49f057dDCC77028e944fe2859eFF3B29aAe0f5d5
NEXT_PUBLIC_BSC_TESTNET_TOKEN_ADDRESS=0xC636d58d45557378117236790922522652807838
NEXT_PUBLIC_BSC_TESTNET_ACCESS_ADDRESS=0xdBC06c067F5fDF15BEC8c7Af9C4E62E2C4cD4307
NEXT_PUBLIC_BSC_TESTNET_LP_ADDRESS=0x54f43e8383F12AFaB4c4bE466054217b5D80Bd9a
NEXT_PUBLIC_BSC_TESTNET_CORE_ADDRESS=0x9dC49b3911B79D24DE5A98640c2E18E285F3D829
NEXT_PUBLIC_BSC_TESTNET_AZUROBET_ADDRESS=0xF1486079CdfBBae3f9E03CA56B311ceDF3d2DA63
NEXT_PUBLIC_BSC_TESTNET_ORACLE_ADDRESS=0x744447d8580EB900b199e852C132F626247a36F7
