.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
  text-align: center;
  text-decoration: none !important;
  vertical-align: top;
  background: none;
  border: 0;
  cursor: pointer;
  transition: all 0.25s $ease-out-quadratic;
  user-select: none;
  @include keyboard-focus;

  &:not(.disabled) {
    @media (hover: hover) {

      :global(.group-button):hover &,
      :global(.group-button):focus &,
      &:hover,
      &:focus {
        transition: all 0s $ease-out-quadratic;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    transition: none;
  }
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// Colors
.primary {
  color: $black;
  background: $gradient-primary;
  border-radius: 6rem;
  @media (hover: hover) {

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 6rem;
      opacity: 0;
      content: '';
      @include basic-transition();
    }

    &::before {
      z-index: 2;
      background-color: rgba(#fff, 0.2);
    }

    &::after {
      z-index: 1;
      background: $gradient-primary;
      filter: blur(8rem);
    }

    &:not(.disabled) {

      :global(.group-button):hover &,
      :global(.group-button):focus &,
      &:hover {

        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0.3;
        }
      }
    }
  }

  &.disabled {
    color: $gray-70;
    background: $bg-50;
  }
}

.secondary {
  color: $gray-50;
  background-color: $dark-gray-60;
  border-radius: 6rem;

  &:not(.disabled) {
    @media (hover: hover) {

      :global(.group-button):hover &,
      :global(.group-button):focus &,
      &:hover,
      &:focus {
        color: $brand-50;
        background-color: $dark-gray-50;
      }

      &:active {
        color: $gray-60;
        background-color: $dark-gray-70;
      }
    }
  }

  &.disabled {
    color: $gray-70;
    background-color: $bg-50;
  }
}

.tertiary {
  color: $gray-50;
  border: 1px solid $dark-gray-60;
  border-radius: 6rem;

  &:not(.disabled) {
    @media (hover: hover) {

      :global(.group-button):hover &,
      :global(.group-button):focus &,
      &:hover,
      &:focus {
        color: $brand-50;
        border-color: $dark-gray-50;
      }

      &:active {
        color: $gray-60;
        border-color: $dark-gray-70;
      }
    }
  }

  &.disabled {
    color: $gray-70;
    border-color: $bg-50;
  }
}


// Sizes
.size-40 {
  height: 40rem;
  padding: 0 14rem;
  font-weight: 600;
  font-size: 17rem;
  text-transform: uppercase;
}

.size-36 {
  height: 36rem;
  padding: 0 12rem;
  font-weight: 600;
  font-size: 15rem;
  text-transform: uppercase;
}

.size-32 {
  height: 32rem;
  padding: 0 10rem;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
}

.size-26 {
  height: 26rem;
  padding: 0 10rem;
  font-weight: 500;
  font-size: 13rem;
}
