@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: 4.444vw;
    @media (min-width: 569px) {
      font-size: 16px;
    }
    @media (min-width: 1981px) {
      font-size: 16px;
    }
  }

  html,
  body {
    width: 100%;
    height: fit-content;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
  }

  body {
    overflow: hidden auto;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    @apply bg-bg-l0;
    @apply text-grey-90;
  }

  input {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }

    /* Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

:focus-visible {
  outline: none;
}

.focus-visible {

  :focus-visible {
    outline: auto;
    outline-offset: 2px;
  }
}

body {

  &.body-scroll-frozen {
    overflow: hidden;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@include mobile {

  body {

    // Iphone input in modal fix
    &.body-scroll-frozen {
      position: fixed;
      width: 100%;
      height: 100%;
    }
  }

  .desktop,
  .narrow:not(.mobile),
  .wide:not(.mobile) {
    display: none !important;
  }
}

@include desktop {

  .mobile:not(.narrow):not(.wide) {
    display: none !important;
  }
}

@include narrow {

  .mobile:not(.narrow),
  .wide {
    display: none !important;
  }
}

@include wide {

  .mobile:not(.wide),
  .narrow {
    display: none !important;
  }
}

@layer components {

  .bone {
    position: relative;
    overflow: hidden;
    @apply bg-grey-90/15;
    @apply animate-pulse;
  }

  .word-spacing-max {
    word-spacing: 9999px;
  }

  .word-spacing-normal {
    word-spacing: normal;
  }
}

@layer utilities {

  // update to use the only class instead of duplication "h-screen h-dvh"
  .h-dvh {
    height: 100dvh;
  }

  .min-h-dvh {
    min-height: 100dvh;
  }
}
